@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

* {
  margin: 0;
}

h1 {
  font-size: 3em;
  font-family: Roboto;
}

/* .main-wrapper {
  margin: 2vmin;
} */

img {
  margin-left: 5vh;
}

.main-block > p {
  font-size: 1.5em;
  margin-top: 2vh;
  font-family: Helvetica, sans-serif, Arial;
}
.main-block > ul {
  font-size: 1.5em;
  font-family: Helvetica;
  list-style-image: url("arrow-pointing-right.svg");
}

.footer-wrapper {
  display: flex;
  padding: 5vmin 20vmin 5vmin 20vmin;
  justify-content: space-evenly;
  background-color: gray;
  color: white;
}

.footer-bubble {
  display: flexbox;
}

.spacer1 {
  background-color: darkblue;
  padding: 5vh;
}

#who {
  margin: 0;
  border: 0;
  padding: 5vh;
  background-color: darkblue;
  color: white;
}

#how {
  margin: 0;
  border: 0;
  padding: 5vh;
}

#get {
  background-color: gold;
  padding: 5vh;
}

#how > h1 {
  text-align: right;
}

#get > h1 {
  text-align: center;
}
